<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block html_title %}{% endblock %}</title>

  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
    {% block extra_header %}
    {% endblock %}
</head>

<body>
  {% block extra_stylesheets %}
  {% endblock %}

  {% block content %}
  {% endblock %}


  {% block extra_scripts %}
  {% endblock %}
</body>
</html>