{% extends "fhirfly/base.html" %}

{% block html_title %}
  Fhirfly Index
{% endblock %}

{% block content %}
  <p>This is the index.</p>

  <p>You are logged in as {{ fhiruser.sub }}</p>
  {% if not fhiruser.authenticated %}
    <p>This user has not been fully authenticated</p>
  {% endif %}

  {% if patient %}
    <p>You are viewing patient {{ patient.name.0.family.0 }}, {{ patient.name.0.given.0 }}</p>
    <p>
      {% if patient.gender|lower == "male" %}
        He lives in
      {% elif patient.gender|lower == "female" %}
        She lives in
      {% else %}
        This person lives in
      {% endif %}
      {{ patient.home_addr }}
      
    </p>
  {% endif %}
  
  {{ med_statement }}
{% endblock %}
