{% extends "fhirfly/base.html" %}

{% block html_title %}
  Fhirfly Index
{% endblock %}

{% block content %}
  <p>This is the web entry point.</p>
  <ul>
    {% for ehr_option in ehr_options %}
      <li><a href="{{ ehr_option.url }}">Connect to {{ ehr_option.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}